<?xml version="1.0"?>
<!-- 
/**
 * @category   Aligent
 * @package    Aligent_Availableaddresses
 * @author     Jonathan Day <jonathan@aligent.com.au>
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->
<config>
    <modules>
        <Aligent_Availableaddresses>
            <version>0.1.0</version>
        </Aligent_Availableaddresses>
    </modules>
    <frontend>
        <layout>
            <updates>
                <availableaddresses module="Aligent_Availableaddresses">
                    <file>availableaddresses.xml</file>
                </availableaddresses>
            </updates>
        </layout>
        <events>
            <customer_address_save_before>
                <observers>
                    <fix_default_address_issue>
                        <type>singleton</type>
                        <class>Aligent_Availableaddresses_Model_Observer</class>
                        <method>interceptSaveAddress</method>
                    </fix_default_address_issue>
                </observers>
            </customer_address_save_before>
        </events>
    </frontend>
    <global>
        <blocks>
            <availableaddresses>
                <class>Aligent_Availableaddresses_Block</class>
            </availableaddresses>
            <checkout>
                <rewrite>
                    <onepage_shipping>Aligent_Availableaddresses_Block_Onepage_Shipping</onepage_shipping>
                </rewrite>
            </checkout>
            <directory>
                <rewrite>
                    <data>Aligent_Availableaddresses_Block_Data</data>
                </rewrite>
            </directory>
        </blocks>
        <helpers>
            <availableaddresses>
                <class>Aligent_Availableaddresses_Helper</class>
            </availableaddresses>
        </helpers>
        <models>
            <checkout>
                <rewrite>
                    <type_onepage>Aligent_Availableaddresses_Model_Checkout_Type_Onepage</type_onepage>
                </rewrite>
            </checkout>
        </models>
    </global>
</config>
